.serviceStyle {
  overflow: hidden;
  position: relative;
  background: linear-gradient(45deg, #acd7ff, #dbe9f6, #fff);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 0;
}

.serviceStyle::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  left: -3rem;
  bottom: -7rem;
  border-radius: 50%;
  background: var(--clr4);
  z-index: -1;
}

.serviceStyle::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  right: -10rem;
  top: -1rem;
  border-radius: 50%;
  background: var(--clr4);
  z-index: -1;
}

.serviceStyle .containerTitle > h2 {
  margin: 2rem;
}

.serviceStyle .containerTitle > h3 {
  width: 90%;
  text-align: center;
  color: var(--clr5);
}

.serviceStyle .containerCarrusel {
  width: 100%;
  min-height: 400px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .serviceStyle::after {
    width: 500px;
    height: 500px;
  }
  .serviceStyle::before {
    right: -15rem;
    top: -3rem;
    width: 700px;
    height: 700px;
  }
}
@media screen and (min-width: 320px) and (orientation: landscape) {
  .serviceStyle::after {
    left: -5rem;
    bottom: -20rem;
  }
  .serviceStyle::before {
    right: -20rem;
    top: -3rem;
  }
}

@media screen and (min-width: 1024px) {
  .serviceStyle {
    padding-top: 5rem;
  }

  .serviceStyle::after {
    .serviceStyle::after {
      width: 700px;
      height: 700px;
    }
  }
  .serviceStyle::before {
    right: -25rem;
    top: -3rem;
    width: 900px;
    height: 900px;
  }
}
