.containerCard {
  max-width: 300px;
  display: grid;
  place-items: center;
  text-align: justify;
  padding: 0.5rem;
  gap: 0.2rem;
  border-radius: 0.5rem;
  border-radius: 16px;
  backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.79);
  -webkit-backdrop-filter: blur(5.5px);
}
.containerCard > h2 {
  max-width: 200px;
  text-align: center;
}

.containerCard > h4 {
  font-weight: 100;
  max-height: 200px;
  overflow-y: auto;
}

.containerCard > h4::-webkit-scrollbar {
  width: 0.5rem;
}

.containerCard .fig {
  width: 150px;
  height: 150px;
}

.containerCard > a {
  text-align: center;
  min-width: 50%;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--clr6);
  color: var(--clr4);
}

.specialId {
  width: 250px;
  background-color: var(--df);
  box-shadow: none;
}

.specialId img {
  border-radius: 1rem;
}

.specialId a {
  display: grid;
  place-items: center;
  min-height: 2rem;
  min-width: 70%;
  font-weight: bolder;
  background: var(--clr2);
  color: var(--df);
}

@media screen and (min-width: 768px) {
  .containerCard {
    max-width: 220px;
    min-height: 400px;
    row-gap: 0.5rem;
  }

  .containerCard > h4 {
    font-size: 1rem;
    font-weight: 100;
  }

  .containerCard > h2 {
    font-size: 1.5rem;
  }

  .containerCard .fig {
    min-width: 100px;
    min-height: 100px;
  }

  .specialId {
    min-width: 300px;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .containerCard {
    max-width: 300px;
  }

  .containerCard > a:hover {
    background: var(--clr5);
  }

  .specialId {
    min-width: 270px;
  }
}

@media screen and (min-width: 1320px) {
  .containerCard {
    min-width: 350px;
    box-sizing: content-box;
  }

  .containerCard h4 {
    min-width: 100%;
  }
}
