.containerCard {
  max-width: 300px;
  display: grid;
  place-items: center;
  text-align: justify;
  padding: 0.5rem;
  gap: 0.2rem;
  border-radius: 0.5rem;
  border-radius: 16px;
  backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.79);
  -webkit-backdrop-filter: blur(5.5px);
}

.containerTitle {
  display: grid;
  place-items: center;
}

.containerTitle img {
  border-radius: 0.5rem;
}

.containerCard .containerTitle > h2 {
  max-width: 200px;
  text-align: center;
}

.containerCard > h4 {
  font-weight: 100;
  max-height: 200px;
  overflow-y: auto;
}

.containerCard > h4::-webkit-scrollbar {
  width: 0.5rem;
}

.containerCard .fig {
  width: 150px;
  height: 150px;
}

.containerCard > .containerBtn > a {
  text-align: center;
  min-width: 50%;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--clr6);
  color: var(--clr4);
}

.containerBtn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.specialId {
  width: 250px;
  background-color: var(--df);
  box-shadow: none;
}

.specialId a {
  display: grid;
  place-items: center;
  min-height: 2rem;
  min-width: 70%;
  font-weight: bolder;
  background: var(--clr2);
  color: var(--df);
}

.proyect {
  background-color: var(--df);
}

.proyect .containerTitle h2 {
  color: var(--clr4);
}

.proyect .containerTitle {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.proyect .containerTitle h2 {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  align-self: stretch;
  justify-self: stretch;
}

.proyect .containerTitle .fig {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: stretch;
  justify-self: stretch;
}

.proyect .containerTitle .containerTechnologics {
  grid-column: 2 / 2;
  grid-row: 2 / 3;
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  gap: 0.5rem;
}

.proyect .containerTitle .tech {
  background: var(--clr6);
  color: var(--clr2);
  padding: 0.1rem;
  border-radius: 0.2rem;
  user-select: none;
  max-height: 25px;
}

.proyect > .containerBtn > a {
  min-width: 30%;
  background: var(--clr2);
  color: var(--df);
}

@media screen and (min-width: 768px) {
  .containerCard {
    max-width: 220px;
    min-height: 400px;
    row-gap: 0.5rem;
  }

  .containerCard > h4 {
    font-size: 1rem;
    font-weight: 100;
    max-height: 100px;
  }

  .containerCard .containerTitle > h2 {
    font-size: 1.5rem;
  }

  .containerCard .containerTitle .fig {
    min-width: 100px;
    min-height: 100px;
  }

  .specialId {
    min-width: 300px;
  }

  .proyect {
    min-width: 320px;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .containerCard {
    max-width: 300px;
  }

  .containerCard > .containerBtn > a:hover {
    background: var(--clr5);
  }

  .specialId {
    min-width: 270px;
  }

  .proyect {
    min-width: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .proyect {
    min-width: 370px;
  }
}

@media screen and (min-width: 1320px) {
  .containerCard {
    min-width: 350px;
    box-sizing: content-box;
  }

  .containerCard h4 {
    min-width: 100%;
  }
}
