.containerCard {
  max-width: 300px;
  display: grid;
  place-items: center;
  text-align: justify;
  padding: 0.5rem;
  gap: 0.2rem;
  border-radius: 0.5rem;
  border-radius: 16px;
  backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.79);
  -webkit-backdrop-filter: blur(5.5px);
}
.containerCard > h2 {
  max-width: 200px;
  text-align: center;
}

.containerCard .fig {
  width: 100px;
  height: 100px;
}

.containerCard > a {
  text-align: center;
  min-width: 50%;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--clr6);
  color: var(--clr4);
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .containerCard {
    max-width: 200px;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .containerCard {
    max-width: 300px;
  }

  .containerCard > a:hover {
    transform: scale(1.05);
    background: var(--clr5);
  }
}
