@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Jura:wght@300..700&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /**** Colors*/
  --df: #ffffff;
  --clr1: #3b82f6;
  --clr2: #1e3a8a;
  --clr3: #c3c3c3;
  --clr4: #112a52;
  --clr5: #2ac0fd;
  --clr6: #acd7ff;

  /**** Font */
  --ff1: "Julius Sans One", sans-serif;
  --ff2: "Jura", sans-serif;
  --ff3: "K2D", sans-serif;
  --ff4: "Montserrat Alternates", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--ff2);
}

body {
  box-sizing: border-box;
  background-color: var(--clr3);
}

body > #root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
  overflow-x: hidden;
}

.titleStyles {
  font-family: var(--ff1);
  color: var(--clr2);
  font-size: 2rem;
  font-weight: bolder;
}

.subtitleStyles {
  font-family: var(--ff2);
  color: var(--clr1);
  font-size: 1.5rem;
}

.textStyles {
  font-family: var(--ff3);
  color: var(--clr4);
  font-size: 1rem;
}

.sectionStyle {
  min-width: 100dvw;
  min-height: 100vh;
  display: grid;
}

.btnStyle {
  max-width: 300px;
  width: 80%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  gap: 1rem;
  box-sizing: border-box;
  background: var(--clr2);
  color: var(--df);
  font-size: 2rem;
  font-family: var(--ff2);
  font-weight: bolder;
  border: 2px outset var(--clr5);
}

.btnStyle figure {
  display: grid;
  place-items: center;
  object-fit: contain;
  width: 2.5rem;
  height: 2.5rem;
}

.btnStyle figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.figureStyle {
  width: 300px;
  height: 300px;
  display: flex;
  box-sizing: content-box;
}

.containerSocials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.iconContainer {
  background: var(--clr5);
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-sizing: content-box;
  transition: all 0.5s ease-in-out;
}

.imgStyle {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .figureStyle {
    min-width: 450px;
    min-height: 450px;
  }

  .titleStyles {
    font-size: 3rem;
  }

  .subtitleStyles {
    font-size: 2.5rem;
  }

  .textStyles {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .figureStyle {
    min-width: 350px;
    min-height: 350px;
  }

  .zoomEffect {
    transition: all 0.5s ease-in-out;
  }

  .zoomEffect:hover {
    transform: scale(1.05);
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  .figureStyle {
    min-width: 600px;
    min-height: 600px;
  }
}

@media screen and (min-width: 1320px) {
  .figureStyle {
    min-width: 600px;
    min-height: 600px;
  }
}
