.projectStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to top, #acd7ff, #dbe9f6, #fff);
  gap: 3rem;
}

.containerTitle {
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
}

.containerTitle > h2 {
  margin-top: 2rem;
  min-width: 80%;
  border-bottom: 0.2rem solid var(--clr2);
}

.containerProject {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerProject .container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 0rem 0rem 3rem 0rem;
  box-sizing: content-box;
}

@media screen and (min-width: 768px) {
  .projectStyle {
    gap: 5rem;
  }

  .containerProject .container {
    min-width: 90%;
    justify-content: space-around;
    gap: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .containerProject .container {
    gap: 0.6rem;
    row-gap: 2rem;
  }
}
